* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    color: black;
    background: white;
}

h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 90px;
    text-align: center;
}



.content {
    width: 100%;
     /* margin: 0 auto; */
}


img {
  align-content: left;
  width: 140px;
  height: 135px;
}
.zoom {
  padding: 10px;
    transition: transform .2s;
    width: 160px;
    height: 152px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}

.column {
    float: left;
    width: 33.33%;
    padding: 30px;
}

#thefooter {
  padding: 20px;
  color:black;
  width: 100%;
  bottom: 0;
}

 /* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
} */